[name = uno] {
    position: relative;
    left: 10px;
    top: 15px;
}

[name = dos] {
    position: relative;
    left: 20px;
    top: 15px;

}

[name = tres] {
    position: relative;
    left: 35px;
    top: 15px;

}

[name = cuatro] {
    position: relative;
    left: 47px;
    top: 15px;

}

[name = cinco] {
    position: relative;
    left: 60px;
    top: 15px;

}

[name = seis] {
    position: relative;
    left: 75px;
    top: 15px;

}

[name = siete] {
    position: relative;
    left: 90px;
    top: 15px;

}

.rows {
    position: relative;
    height: 13%;
    width: 100%;
    top: 1.5%;
}

.imagen {
    border: none;
    border-radius: 100%;
    background: transparent url("circle_normal.png") no-repeat 50%;
    padding: 0;
    height: 55px;
    width: 55px;

}

.imagen:hover {
    background-image: url("circle_hover.png");
    cursor: hand;
}

.imagen:focus {
    background-image: url("circle_click.png");
    outline: none;
}

.hueco {
    border-radius: 100%;
    padding: 0;
    height: 55px;
    width: 55px;
    border: groove 5px #000000;
    outline: none;
    background: #31c5ff;
    opacity: 0.3;
    cursor: hand;

}

.vacio {
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    border: transparent;
    height: 55px;
    width: 55px;
    outline: none;
}

.clock{
    width: 25px;
}

#board {
    position: absolute;
    left: 450px;
    top: 150px;
    height: 478px;
    width: 478px;
    border: none;
    overflow: visible;

}

#up {
    background-color: lightyellow;
    border-radius: 15% 15% 0% 0%;
    position: inherit;
    left: 136px;
    top: 0px;
    height: 136px;
    width: 206px;
}

#left {
    background-color: lightyellow;
    border-radius: 15% 0% 0% 15%;
    position: inherit;
    top: 136px;
    left: 0px;
    height: 206px;
    width: 136px;

}

#center {
    position: inherit;
    left: 136px;
    top: 136px;
    width: 206px;
    height: 206px;
    background-color: lightyellow;
}

#right {
    background-color: lightyellow;
    border-radius: 0% 15% 15% 0%;
    position: inherit;
    left: 342px;
    top: 136px;
    height: 206px;
    width: 136px;
}

#down {
    background-color: lightyellow;
    border-radius: 0% 0% 15% 15%;
    position: inherit;
    left: 136px;
    top: 342px;
    height: 136px;
    width: 206px;

}

#debugdiv {

    position: absolute;
    left: 770px;
    width: 150px;
    height: 85%;
    border: solid white;
    overflow: scroll;
}

#dashboard {
    position: absolute;
    left: 10px;
    top: 250px;
    width: 380px;
    height: 300px;
    border: none;
    overflow: visible;
    background: #feff8a;
}

#countdown{
    position: relative;
    width: 150px;
    left: 100px;
    text-align: center;
    color: darkblue;
}
#gameVariant{
    position: relative;
    left: 10px;
    width: 150px;
}
#timer{
    position: relative;
    width: 200px;
    left: 10px;
}
.scoregreen {
    text-align: center;
    color: #25e72f;
    font-size: 40pt;
}

.scorered {
    text-align: center;
    color: red;
    font-size: 40pt;
}

#end{
    position: absolute;
    top: 186px;
    left: 40px;
    height: 100px;
    width: 400px;
    background: white;
    opacity: 0.7;
    color: #783bff;
    text-align: center;
}

body {
    background-color: #31c5ff;
    opacity: 0.8;
}


